tunnel: ${TUNNEL_ID}
credentials-file: /home/nonroot/.cloudflared/cert.pem
ingress:
  - hostname: "${DOMAIN}"
    service: ${TRAEFIK_SERVICE}
  - hostname: "www.${DOMAIN}"
    service: ${TRAEFIK_SERVICE}
  - hostname: "*.${DOMAIN}"
    service: ${TRAEFIK_SERVICE}
  - service: http_status:404
